html {
    margin: 0;
}

body {
    margin: 0;
}

li.banner {
    list-style-type: none;
    display: inline-block;
    position: relative;
}

img.banner {
    height: 7vh;
    width: auto;
    margin-right: 2%;
}

li.banner.banner {
    display: inline-block;
    font-size: 20pt;
    padding-right: 5vh;
}

.main ul li:hover .sub {
    display: block;
}

a:hover {
    text-decoration: none;
}

li.banner.banner.banner {
    overflow: hidden;
}

.sub {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.sub li {
    display: block;
    margin-bottom: 5px;
}
.sub {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.sub li {
    display: block;
    margin-bottom: 5px;
}
