<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div mat-table dataSource="dataSource" class="mat-elevation-z8">

  <div class="demo-button-container">
    <button mat-button (click)="openDialog()">Add new</button>
    <button
      mat-raised-button
      class="demo-button">
      Remove data
    </button>
  </div>

  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <ng-container matColumnDef="tenSP">
      <th mat-header-cell *matHeaderCellDef> Tên sản phẩm </th>
      <td mat-cell *matCellDef="let element"> {{element.tenSP}} </td>
    </ng-container>

    <ng-container matColumnDef="loai">
      <th mat-header-cell *matHeaderCellDef> Loại </th>
      <td mat-cell *matCellDef="let element"> {{element.loai}} </td>
    </ng-container>

    <ng-container matColumnDef="moTa">
      <th mat-header-cell *matHeaderCellDef> Mô tả sản phẩm </th>
      <td mat-cell *matCellDef="let element"> {{element.moTa}} </td>
    </ng-container>

    <ng-container matColumnDef="soLuong">
      <th mat-header-cell *matHeaderCellDef> Số lượng </th>
      <td mat-cell *matCellDef="let element"> {{element.soLuong}} </td>
    </ng-container>

    <ng-container matColumnDef="giaBan">
      <th mat-header-cell *matHeaderCellDef> Giá bán </th>
      <td mat-cell *matCellDef="let element"> {{element.giaBan}} </td>
    </ng-container>

    <ng-container matColumnDef="open">
      <th mat-header-cell *matHeaderCellDef> View Post</th>
      <td mat-cell *matCellDef>
        <a href="#">Open</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)">
    </tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
