<div>
  <h1 class="bg-danger text-center text-white">Đọc truyện cười nước ngoài</h1>
  <p>
    <a class="btn btn-primary me-2" data-bs-toggle="collapse" href="#truyen1" role="button" aria-expanded="false"
      aria-controls="truyen1">
      VOVA GHEN
    </a>
    <a class="btn btn-primary me-2" data-bs-toggle="collapse" href="#truyen2" role="button" aria-expanded="false"
      aria-controls="truyen2">
      TƯỞNG BỞ
    </a>
    <a class="btn btn-primary me-2" data-bs-toggle="collapse" href="#truyen3" role="button" aria-expanded="false"
      aria-controls="truyen3">
      TRUYỆN 03
    </a>
    <a class="btn btn-primary me-2" data-bs-toggle="collapse" href="#truyen4" role="button" aria-expanded="false"
      aria-controls="truyen4">
      TRUYỆN 04
    </a>
    <a class="btn btn-primary me-2" data-bs-toggle="collapse" href="#truyen5" role="button" aria-expanded="false"
      aria-controls="truyen5">
      TRUYỆN 05
    </a>
    <a class="btn btn-primary me-2" data-bs-toggle="collapse" href="#truyen6" role="button" aria-expanded="false"
      aria-controls="truyen6">
      TRUYỆN 06
    </a>
  </p>
  <div class="collapse" id="truyen1">
    <div class="card card-body">

      <h3>VOVA GHEN</h3>
      <p>
        Giữa trưa nắng , một Vova đèo một cô bé trên một chiếc xe đạp mini bé tí.<br />
        Vẻ mặt cậu bé có vẻ rất bực. Đang đi Vova quay lại nói với cô bé :<br />
        - Này, tại sao chiều hôm qua em lại đi chơi đồ hàng với thằng lớp 2B hả?
      </p>
    </div>
  </div>
  <div class="collapse" id="truyen2">
    <div class="card card-body">
      <h2>TƯỞNG BỞ</h2>
      <p>
        Đang trên đường, cận thị đuổi theo sáng mắt.<br />
        - CT (Vỗ vai): Này, hình như em gái ông nó thinh thích tôi hay sao ấy. Hôm qua nó c
        ứ đứng ở dưới cửa sổ cầm khăn vẫy tôi mãi.<br />
        - SM: Thế nó cầm khăn màu gì?<br />
        - CT: Màu đen<br />
        - SM: Tốt, cuối cùng thì nó cũng chịu lau cửa sổ.<br />
        - CT: Ủa...trời!!!
      </p>
    </div>
  </div>
  <div class="collapse" id="truyen3">
    <div class="card card-body">
      <h2>TIÊU ĐỀ TRUYỆN 3</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur corporis delectus exercitationem iste
        labore, laudantium minus molestias mollitia nam numquam, placeat praesentium rerum voluptate. Facilis id iste
        nesciunt non tenetur! Dolores, exercitationem minus quae quibusdam sit veniam. A ducimus eveniet excepturi
        inventore molestias omnis sapiente unde veniam! Blanditiis consectetur excepturi suscipit? At deserunt ipsam ut!
        Aperiam architecto aspernatur deleniti ex fugit impedit labore, perspiciatis quam ratione voluptatum! Accusamus
        accusantium asperiores autem dolor dolorem facere inventore perspiciatis quasi, quis quo? Accusamus, adipisci
        asperiores commodi consectetur, debitis delectus facilis harum inventore, ipsum laborum laudantium minima minus
        nulla quam quia quo rerum soluta.</p>
    </div>
  </div>
  <div class="collapse" id="truyen4">
    <div class="card card-body">
      <h2>TIÊU ĐỀ TRUYỆN 4</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab laudantium, reiciendis? Amet autem blanditiis
        cupiditate ducimus, eos esse est ex explicabo harum in, itaque laboriosam necessitatibus nostrum, possimus quam
        quidem voluptate. Architecto, aut blanditiis consectetur consequuntur cupiditate dolor dolore doloremque dolorum
        ea, enim et expedita id ipsam itaque libero modi molestiae neque nesciunt nihil non nulla quas sapiente tempora
        tempore vero voluptate voluptatum? Cumque deserunt dolor hic impedit nisi optio placeat quos repudiandae
        similique velit! Asperiores culpa cum deleniti dicta, doloremque error eum eveniet in, inventore neque, nobis
        omnis porro possimus praesentium quae quaerat quisquam quod velit voluptatem voluptatum? Quisquam!</p>
    </div>
  </div>
  <div class="collapse" id="truyen5">
    <div class="card card-body">
      <h2>TIÊU ĐỀ TRUYỆN 5</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur blanditiis commodi cum cumque, delectus,
        dolore earum enim eos facere, libero magnam minus neque nostrum nulla obcaecati placeat praesentium quibusdam
        vel. Dolore eius fuga, illo laboriosam magni nobis officia quae temporibus. Aliquam blanditiis debitis dolores
        doloribus illo ipsam ipsum itaque libero nostrum officia officiis omnis perferendis, praesentium provident
        quidem rem sed voluptatibus. Aliquam aliquid, architecto, at autem cum delectus doloremque doloribus eius eos
        facere illum impedit iste labore modi natus nemo neque nesciunt nisi non odio odit possimus quae quas quasi quo
        repellendus reprehenderit repudiandae rerum sequi soluta, veniam veritatis voluptas?</p>
    </div>
  </div>
  <div class="collapse" id="truyen6">
    <div class="card card-body">
      <h2>TIÊU ĐỀ TRUYỆN 6</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid consequuntur eligendi illo in
        itaque iusto laboriosam nesciunt placeat possimus? Accusamus accusantium aliquam assumenda at blanditiis
        consequatur, deserunt ducimus est facere facilis ipsam ipsum itaque laudantium libero maxime molestiae nobis
        obcaecati odio perspiciatis porro quam quisquam ratione recusandae reprehenderit sit tempore ullam voluptatum.
        Ab ad aut debitis delectus distinctio dolore doloribus, eos impedit itaque iure labore laborum molestiae
        mollitia necessitatibus omnis pariatur porro praesentium quisquam ratione saepe sequi soluta ut vero.
        Accusantium, alias aperiam aut commodi corporis cumque, cupiditate laborum maxime mollitia optio porro quia quod
        similique sint tenetur? Tenetur.</p>
    </div>
  </div>
</div>