*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    padding-left: 20vh;
    padding-right: 10vh;
    font-size: 14pt;
}
a{
    text-decoration: 0;
}
div.banner{
    margin-top: 1vh;
    display: grid;
    grid-template-columns: 65% 40%;
    justify-content: space-between;
}
ul.banner{
    display: flex;
    list-style-type: none;
}
button.heading{
    float: right;
}
div.content{
    display: none;
}
button.heading{
    margin-top: 4px;
    border: none;
}
.heading:hover div.content{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    padding-left: 2vh;
    padding-right: 5vh;
    line-height: 4vh;
}
div.menu{
    margin-top: 5vh;
    display: flex;
}
div.logo{
    padding-right: 10vh;
}
div.searchbar{
    text-align: center;
    font-size: 0;
}
#all{
    height: 5vh;
    margin: 0;
}
input.searchbar{
    height: 5vh;
    width: 50vh;
}
button.search{
    height: 5vh;
    width: 5vh;
    margin-right: 5vh;
}
div.like{
    margin-right: 15vh;
    width: 10vh;
    align-content: center;
    height: 5vh;
}
button.buy{
  margin-left: 0.5vh;
  background-color: black;
  width: 6vh;
  height: 5vh;
}
#sub-menu {
    margin-top: 5vh;
    position: relative;
    display: inline-block;
    background-color: red;
    width: 100%;
  }
  
  .menu-wrapper {
    display: flex;
  }
  
  .menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin: 10px;
    text-align: center;
  }
  
  .menu-item {
    margin-left: 3vh;
    margin-right: 3vh;
  }
  
  .menu-item-button {
    background: none;
    border: none;
    color: white;
    font-size: 15pt;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
  }
  
  .submenu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #fff;
    display: none;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .menu-item:hover .submenu {
    display: block;
  }
  
  .submenu a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 5px 0;
  }
  
  .submenu hr {
    margin: 5px 0;
    border: none;
    border-top: 1px solid #ccc;
  }
  
  .column {
    display: flex;
  }
  
  .container {
    flex: 1;
  }
  
  .img {
    width: 200px;
    height: 150px;
    background-color: #ccc;
  }
  
  .row {
    display: flex;
  }
  
  .col {
    margin: 5px 0;
  }
  