<div>
  <h1>Registration Form</h1>
  <p>Register your Jackson Electronics product here</p>
  <form>
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName">
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName">
    <label for="address1">Address #1:</label>
    <input type="text" id="address1" name="address1">
    <label for="address2">Address #2:</label>
    <input type="text" id="address2" name="address2">
    <label for="city">City:</label>
    <input type="text" id="city" name="city">
    <label for="state">State:</label>
    <input type="text" id="state" name="state">
    <label for="zip">Zip:</label>
    <input type="text" id="zip" name="zip">
    <label for="country">Country:</label>
    <select id="country" name="country">
      <option value="unitedStates">United States</option>
    </select>
    <label for="product">Product</label>
    <input type="text" id="product" name="product" value="ScanMaster">
    <label for="datePurchased">Date Purchased:</label>
    <input type="date" id="datePurchased" name="datePurchased">
    <label for="serialNumber">Serial #</label>
    <input type="text" id="serialNumber" name="serialNumber">
    <label for="use">Used for:</label>
    <br>
    <input type="radio" id="useHome" name="use" value="home">
    <label for="useHome">Home</label>
    <input type="radio" id="useEducational" name="use" value="educationalInstitution">
    <label for="useEducational">Educational Institution</label>
    <br>
    <input type="radio" id="useBusiness" name="use" value="business">
    <label for="useBusiness">Business</label>
    <input type="radio" id="useOther" name="use" value="other">
    <label for="useOther">Other</label>
    <br>
    <input type="radio" id="useGovernment" name="use" value="government">
    <label for="useGovernment">Government</label>
    <label for="system">System (check all that apply):</label>
    <br>
    <input type="checkbox" id="systemWindows" name="system" value="windows">
    <label for="systemWindows">Windows</label>
    <input type="checkbox" id="systemUnix" name="system" value="unix">
    <label for="systemUnix">UNIX</label>
    <br>
    <input type="checkbox" id="systemMacintosh" name="system" value="macintosh">
    <label for="systemMacintosh">Macintosh</label>
    <input type="checkbox" id="systemOther" name="system" value="other">
    <label for="systemOther">Other</label>
    <br>
    <label for="comments">Comments:</label>
    <textarea id="comments" name="comments" rows="4" cols="50"></textarea>
    <br>
    <input type="submit" value="Click to register">
    <input type="reset" value="Click to cancel">
  </form>
</div>